<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="base :: header"></div>
    <title></title>
</head>
<body class="d-flex flex-column">
<div th:replace="base :: nav"></div>
<div class="container">
    <h1 class="my-4">Selected Car
        <small></small>
    </h1>
    <!--moos-->
    <div class="row" th:object="${car}" >
        <div class="col-md-7">
            <img class="img-fluid rounded mb-3 mb-md-0" th:src="${image}" alt="No photo supplied">
        </div>
        <div class="col-md-5">
            <h3 th:text="${car.manufacturer} + ${car.model}"></h3>
            <p th:text="'$' + ${car.msrp}"></p>
            <small> <a th:href="@{/update/{id}(id=${car.id})}">Update</a> -
                <a th:href="@{/delete/{id}(id=${car.id})}">Delete</a></small>
        </div>
    </div>
    <!-- /.row -->
</div>

<div th:replace="base :: footer"></div>
<div th:replace="base :: javascript"></div>
</body>

</html>